services:
  webserver:
    image: webserver
    build:
      context: ./webserver
      dockerfile: Dockerfile
    develop:
      watch:
        - path: ./webserver/src/python
          action: sync
          target: /app/src/python
    ports:
      - 5002:5002
  client:
    image: client
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - 5173:5173
