services:
  webserver:
    # image: webserver
    build:
      context: ./webserver
      dockerfile: Dockerfile
    develop:
      watch:
        - path: ./webserver
          action: sync
          target: /app
    ports:
      - 5002:5002
  client:
    # image: client
    build:
      context: ./client
      dockerfile: Dockerfile
    develop:
      watch:
        - path: ./client
          action: sync
          target: /app
    ports:
      - 5173:5173

  db:
    image: postgres
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      POSTGRES_DB: gidb

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

